<%if signed_in?%>

<%else%>

<%end%>
<div id="welcome_not_signed_in">
  <h2>Empresa</h2> 
  <div>      	
    <h3>eMobile</h3>
    <p>eMobile nace como una rama de la empresa eVista, que a lo largo de 5 años se ha dedicado a satisfacer las necesidades de sus clientes en materia de tecnología informática. El enfoque principal de eMobile es un área específica del desarrollo de software y servicios: soluciones de movilidad.</p>
    <p>eMobile sabe que es muy importante para las empresas e instituciones tener a la mano la información que necesitan en todo momento. Por esta razón estamos innovando constantemente para satisfacer las necesidades de nuestros clientes.</p>
    <h3>Misi&oacute;n</h3>
    <p>Atender las necesidades de cómputo móvil en los ámbitos público y privado, proporcionando a sus clientes productos y servicios de calidad a través de tecnología de vanguardia e innovación, y ofreciendo a sus empleados un ambiente de constante desarrollo personal y profesional.</p>
    <h3>Visi&oacute;n</h3>
    <p>Ser una empresa líder en el ramo de aplicaciones de cómputo móvil en México y con presencia internacional, con un crecimiento continuo, que se distinga por la excelencia en la calidad de sus productos y servicios, así como en el trato con sus clientes, empleados y aliados de negocio.</p>
  </div>
</div>
<br />