<div class="control-group">
  <%= f.label :schedule_id %>
  <%= f.collection_select(:schedule_id, Schedule.where(:branch_id => current_user.branch_id).order("id ASC"), :id, :select_schedule, {:prompt => false}) %>
  <%= f.link_to_remove "[ - ]", :class => 'btn btn-primary', :style => "margin-up: -5px"%><br />
  <br />
</div>