<%if can? :index, eval(controller_name.singularize.titlecase.gsub(" ", "")) %>
  <div id="tab1" class="tab-content" style="display: block;">
    <%eval("@#{controller_name} = #{controller_name.singularize.titlecase.gsub(" ", "")}.order('id ASC').paginate(:page => params[:page])")%>
    <%= render "#{controller_name}/tab_index" %>
  </div>
<%end%>